<!DOCTYPE html>
<html lang="en">
  <head>
       <title>About | Mutebile centre For Excellence</title>
  </head>

  <!-- ======== @Region: body ============================== -->
  <body class="page-about">
      {% extends "layout.html" %}
{% block content %}

    <!-- ================================== @Region: #content ==================================== -->
    <div id="content">
      <div class="container" id="about">
        <div class="row">
          <!--main content-->
          <div class="col-md-9 col-md-push-3">

            <div class="page-header">
              <h1>
                WELCOME MESSAGE

              </h1>
            </div>
            <div class="block block-border-bottom-grey block-pd-sm">
              <h3 class="block-title">
                Prof. Mwesigwa Nuha Akiiki<br>
                  <small> Executive Director.</small>
              </h3>
              <img src="/static/img/misc/prof_mwesigwa.jpg" alt="About us" class="img-responsive img-thumbnail pull-left m-r m-b">
              <p>On behalf of The Mutebile Centre of Excellence (TMCE), Greetings and Welcome to TMCE website. In October 2015 the Makerere University Private sector Forum unveiled plans to build the Emmanuel Tumusiime-Mutebile Centre of Excellence (TMCE). The Mutebile Centre, which will be allocated AT Makerere University, honors Dr. Mutebile, Governor of the Bank of Uganda and a longstanding champion of private sector development in Uganda. Its mission to build a strong and vibrant partnership between the academia and the public-private sectors for national socio-economic development.</p>
              <p>The Makerere University Private Sector Forum partnered with the University of California, Berkeley Haas School of Business in December 2016 to develop the 3 year strategic plan for the Mutebile Centre of Excellence. This further conveys our sense of mission and vision to build a strong and vibrant partnership between the academia and public-private sectors for national socio-economic development. By bridging the industry-university divide and establish itself as world-class Centre of Excellence. </p>
              <p>Through our website, you will discover our commitment to the development of our country Uganda by addressing longstanding challenges like youth unemployment among others. Our focus then and now is to promote the development of demand driven skills at the university.</p>
              <p>Through our website, you will discover our commitment to the development of our country Uganda by addressing longstanding challenges like youth unemployment among others. Our focus then and now is to promote the development of demand driven skills at the university.</p>
            </div>

          </div>
          <!-- sidebar -->
          <div class="col-md-3 col-md-pull-9 sidebar visible-md-block visible-lg-block">
                     <ul class="nav nav-pills nav-stacked">
              <li class="active">
                  <a href="/about/Executive-Director/" >
                      <small><span><h4>Executive Director's </h4></span></small>
                  <small>Welcome Message</small>
                </a>
              </li>
              <li >
                <a href="/about/Chairman-TMCE/" >
                 <small><h4> The Chairman TMCE</h4></small>
                  <small>Chairman's Message</small>
                </a>
              </li>
              <li >
                <a href="/about/mission&Vision/" >
                    <small><h4>Vision &amp; Mision </h4></small>
                  <small>Our major aim</small>
                </a>
              </li>
                         <li >
                <a href="/about/background-of-TMCE/">
                 <small><h4>History of TMCE</h4></small>
                  <small>Our Background</small>
                </a>
              </li>
              <li>
                <a href="/about/mandate/">
                <small><h4>TMCE Mandate</h4></small>
                  <small>our Mandate</small>
                </a>
              </li>
                            <li>
                <a href="/about/activities/">
                    <small> <h4>TMCE Activities </h4> </small>
                  <small>Activities at the Centre</small>
                </a>
              </li>
            </ul>
            </ul>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
  </body>
</html>