<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">

  </head>

  <body>
        {% extends "layout.html" %}
{% block content %}

    <!-- ================================== @Region: #content ==================================== -->
    <div id="content">
      <div class="container" id=>
        <div class="row">
          <!--main content-->
          <div class="col-md-9 col-md-push-3">

            <div class="page-header">
              <h1>
                Chairman's Message

              </h1>
            </div>
            <div class="block block-border-bottom-grey block-pd-sm">
              <h3 class="block-title">
                Prof. Emmanuel Tumusiime Mutebile <br>
                  <small> Governor of the Bank of Uganda and TMCE Chairman</small>
              </h3>
              <img src="/static/img/misc/emma.png" alt="About us" class="img-responsive img-thumbnail pull-left m-r m-b">
                <p>
                    AS Chairman of MUSPF I’m much privileged to warmly welcome you to our website TMCE, its great honor for me in particular to be named after this great resource The Mutebile Centre of Excellence, I’m indeed exceedingly humbled and extremely overjoyed by this innovation.
                </p>
                <p>
                    TMCE intended impact is captured in the theory of change as well put below, the theory of change reflects how the Mutebile Centre of Excellence will serve as a catalyst for private sector competitiveness and the country’s economic development. Starting with Uganda’s current state ( the leftmost chevron), the country faces the dual challenges of a youth population underprepared to join the workforce and a challenging business environment for private sector companies. Through its offerings, the Mutebile Centre will address both the needs of Makerere students and the private sector, fostering talented graduates and stronger business to fuel private sector growth. Ultimately, a more competitive private sector will create further employment opportunities and lead to the economic development of the country.
                </p>
                <p>
                    As you go through this website, you will find a detailed project approach of the Mutebile Centre. Together we can make a difference in transforming our country Uganda.
                </p>
                <p>
                    I thank you, stay blessed.
                </p>
            </div>

          </div>
          <!-- sidebar -->
          <div class="col-md-3 col-md-pull-9 sidebar visible-md-block visible-lg-block">
                     <ul class="nav nav-pills nav-stacked">
              <li>
                  <a href="/about/Executive-Director/" >
                      <small><span><h4>Executive Director's </h4></span></small>
                  <small>Welcome Message</small>
                </a>
              </li>
              <li class="active">
                <a href="/about/Chairman-TMCE/" >
                 <small><h4> The Chairman TMCE</h4></small>
                  <small>Chairman's Message</small>
                </a>
              </li>
              <li >
                <a href="/about/mission&Vision/" >
                    <small><h4>Vision &amp; Mision </h4></small>
                  <small>Our major aim</small>
                </a>
              </li>
              <li >
                <a href="/about/background-of-TMCE/">
                 <small><h4>History of TMCE</h4></small>
                  <small>Our Background</small>
                </a>
              </li>
              <li>
                <a href="/about/mandate/">
                <small><h4>TMCE Mandate</h4></small>
                  <small>our Mandate</small>
                </a>
              </li>
                            <li>
                <a href="/about/activities/">
                    <small> <h4>TMCE Activities </h4> </small>
                  <small>Activities at the Centre</small>
                </a>
              </li>
            </ul>
            </ul>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}

  </body>
</html>
