<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">

  </head>

  <body>
    {% extends "layout.html" %}
    {% block content %}
    <!--============================box body====================================--->
    <div class="container">
    <div id="content">
      <div class="container" id="about">
        <div class="row">
          <!--main content-->
          <div class="col-md-9 col-md-push-3">
            <div class="page-header">
              <h1>
                Vision & Mission

              </h1>
            </div>
            <div class="block-highlight block-pd-h block-pd-sm">
               <h3 class="block-title">
                Vision of TMCE
              </h3>
              <p class="text-fancy">To enable all students in Uganda to thrive in their careers through practical hands-on experience, entrepreneurial leadership, and mindset change.</p>
              <h3 class="block-title">
               Mission of TMCE
              </h3>
              <p class="text-fancy">To build a strong and vibrant partnership between the academia and the public-private sectors for national socio-economic development.</p>
            </div>
            <!--===========================-->
          </div>
          <!-- sidebar -->
                    <div class="col-md-3 col-md-pull-9 sidebar visible-md-block visible-lg-block">
                     <ul class="nav nav-pills nav-stacked">
              <li>
                  <a href="/about/Executive-Director/" >
                      <small><span><h4>Executive Director's </h4></span></small>
                  <small>Welcome Message</small>
                </a>
              </li>
              <li>
                <a href="/about/Chairman-TMCE/" >
                 <small><h4> The Chairman TMCE</h4></small>
                  <small>Chairman's Message</small>
                </a>
              </li>
              <li class="active">
                <a href="/about/mission&Vision/" >
                    <small><h4>Vision &amp; Mision </h4></small>
                  <small>Our major aim</small>
                </a>
              </li>
                         <li >
                <a href="/about/background-of-TMCE/">
                 <small><h4>History of TMCE</h4></small>
                  <small>Our Background</small>
                </a>
              </li>
              <li>
                <a href="/about/mandate/">
                <small><h4>TMCE Mandate</h4></small>
                  <small>our Mandate</small>
                </a>
              </li>
                            <li>
                <a href="/about/activities/">
                    <small> <h4>TMCE Activities </h4> </small>
                  <small>Activities at the Centre</small>
                </a>
              </li>
            </ul>
            </ul>
          </div>
        </div>
      </div>
    </div>

    </div>
    <!--============================End of First container====================================--->

    {% endblock %}
  </body>
</html>
