<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

            <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

  </head>

<body>

    {% extends "layout.html" %}
    {% block content %}
<!--===============================Header with Slider =================================-->
    <div id="background-wrapper" class="buildings" data-stellar-background-ratio="0.1">
         <!--=========================================================BODY==============================================-->
      <div class="hero" id="highlighted">
        <div class="inner">
          <!--Slideshow-->
          <div id="highlighted-slider" class="container">
            <div class="item-slider" data-toggle="owlcarousel" data-owlcarousel-settings='{"singleItem":true, "navigation":true, "transitionStyle":"fadeUp"}'>
              <!--Slideshow content-->
              <!--Slide 1-->
              <div class="item">
                <div class="row">
                  <div class="col-md-6 col-md-push-6 item-caption">
                    <h2 class="h1 text-weight-light">
                      Welcome to MUTEBILE Centre of Excellence
                    </h2>
                    <h4>
                      Prof. Emmanuel Tumusiime Mutebile, PhD;
                    </h4>
                    <p> Is a Ugandan economist and a banker.
                      He is Governor of Bank of Uganda, the Central Bank <br>
                      of Uganda. He was first appointed to that position
                      on 1 January 2001, and was re-appointed for a second five year term on
                      1st January 2006. In November 2010, he was re-appointed<br>
                      for the third term, effective 12th January 2011.<a href="{{ ('about') }}" class="btn btn-more btn-lg"> Read More</a></p>

                  </div>
                  <!----Second slider div tag ----->
                  <div class="col-md-6 col-md-pull-6 hidden-xs">
                    <img src="/static/img/slides/slide3.jpg" alt="Slide 1" class="center-block img-responsive">
                  </div>
                </div>
              </div>
              <!--Slide 2-->
              <div class="item">
                <div class="row">
                  <div class="col-md-6 text-right-md item-caption">
                    <h2 class="h1 text-weight-light">
                      The Centre of Excellence
                    </h2>
                    <h4>
                      Education without Limit
                    </h4>
                    <p>The Makerere University Private sector Forum MUPSF was established in April 2006 by Makerere University council after endorsement by
                        the university senate to address longstanding challenges like Uganda’s youth unemployment, lack of private sector growth in Uganda
                        and employment challenges. Its mission is to bridge the divide between the university and the public and private sector in order
                        to see the social-economic development of Uganda. The vice chancellor then Prof. Livingstone S.Luboobi, PHD appointed a working
                        committee composed of members from the private sector and public sectors as well as Makerere University to draw up opportunities
                        for collaboration and mobilization, as well as to set the Forum’s agenda. In 2008, the Forum was officially incorporated as a company
                        with full autonomy in policy making and governance.</p>
                    <a href="{{ ('about') }}" class="btn btn-more btn-lg"><i class="fa fa-plus"></i> Learn More</a>
                  </div>
                  <div class="col-md-6 hidden-xs">
                    <img src="/static/img/slides/slide4.jpg" alt="Slide 4" class="center-block img-responsive">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

     <!-- Call out block -->
    <div class="block block-pd-sm block-bg-primary">
      <div class="container">
        <div class="row">
          <h3 class="col-md-4">
           We Partner with:
          </h3>
          <div class="col-md-8">
            <div class="row">
              <!--Client logos should be within a 120px wide by 60px height image canvas-->
              <div class="col-xs-6 col-md-2">
                <a href="#" title="Client 1">
                  <img src="/static/img/clients/client1.png" alt="Client 1 logo" class="img-responsive">
                </a>
              </div>
              <div class="col-xs-6 col-md-2">
                <a href="" title="Client 2">
                  <img src="/static/img/clients/client7.png" alt="Client 7 logo" class="img-responsive">
                </a>
              </div>
              <div class="col-xs-6 col-md-2">
                <a href="" title="Client 3">
                  <img src="/static/img/clients/client3.png" alt="Client 3 logo" class="img-responsive">
                </a>
              </div>
              <div class="col-xs-6 col-md-2">
                <a href="" title="Client 4">
                  <img src="/static/img/clients/client4.png" alt="Client 4 logo" class="img-responsive">
                </a>
              </div>
              <div class="col-xs-6 col-md-2">
                <a href="" title="Client 5">
                  <img src="/static/img/clients/client5.png" alt="Client 5 logo" class="img-responsive">
                </a>
              </div>
              <div class="col-xs-6 col-md-2">
                <a href="" title="Client 6">
                  <img src="/static/img/clients/client6.png" alt="Client 6 logo" class="img-responsive">
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>


  {% endblock %}
  </body>
</html>
