<!DOCTYPE html>
<html lang="en">
<head>
        <title>Mutebile centre For Excellence</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
    <meta property="og:title" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">

    <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/icons/favicon.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ url_for('static', filename='img/icons/114x114.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ url_for('static', filename='img/icons/72x72.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='img/icons/default.png') }}">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/owlcarousel/owl.theme.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/owlcarousel/owl.transitions.min.css') }}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">


    <!--Your custom colour override - predefined colours are: colour-blue.css, colour-green.css, colour-lavander.css, orange is default-->
        <link href="{{ url_for('static', filename='css/colour-green.css') }}" id="colour-scheme" rel="stylesheet">
    <!--<link href="{{ url_for('static', filename='css/colour-lavender.css') }}" id="colour-scheme" rel="stylesheet">-->

</head>
<body>
<!--============code to prevent hidden content(Its Hard coded)============-->
<nav class="navbar navbar-default "></nav><nav class="navbar navbar-default "></nav><nav class="navbar navbar-default "></nav><br><br><br>
<!--====end of code NEXT is the header-->
<nav class="navbar navbar-default navbar-fixed-top " >

    <div class="top-area bg-primary">
			<div class="container">
				<div class="row">
                    <br>
					<div class="col-sm-6 col-md-6">
					<p class="bold text-left">Monday - Saturday, 8am to 10pm </p>
					</div>
					<div class="col-sm-6 col-md-6">
					<p class="bold text-right">Call us now +256 008 65 001</p>
					</div>
				</div>

			</div>
		</div>
 <div class="grey" data-stellar-background-ratio="0.1">
 <!--======================HEADER & navbar-branding region-=======================================-->
        <div class="header">
          <div class="header-inner container">
            <div class="row">
              <div class="col-md-8">
                <!--navbar-branding/logo - hidden image tag & site name so things like Facebook to pick up, actual logo set via CSS for flexibility -->
                <a href="" title="Home">
                  <h1>
                    <!--<img src="/static/img/mutebile.png" alt="mutebile" width="50%">-->
                    Mutebile Centre of Excellence
                  </h1>
                </a>
              </div>

            </div>
          </div>
        </div>
        <!-- =============================== MAIN MENU ITEMS =============================== -->
      <div id="navigation" class="wrapper">
      <div class="container">
          <div class="navbar navbar-default">
            <!--mobile collapse menu button-->

            <!--everything within this div is collapsed on mobile-->
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav" id="main-menu">
                <li>
                  <a href="/">Home</a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">About<b class="caret"></b></a>
                  <!-- Dropdown Menu -->
                  <ul class="dropdown-menu">
                    <li class="dropdown-header"> About | T.M.S.E </li>
                    <li><a href="/about/Executive-Director/" tabindex="-1" class="menu-item">Executive Director</a></li>
                       <li><a href="/about/Chairman-TMCE/" tabindex="-1" class="menu-item">The chairman of TMCE</a></li>
                      <li><a href="/about/background-of-TMCE/" tabindex="-1" class="menu-item">Background</a></li>
                    <li><a href="/about/mission&Vision/" tabindex="-1" class="menu-item">Mission &amp; Vision</a></li>
                    <li><a href="/about/mandate/" tabindex="-1" class="menu-item">TMCE mandate</a></li>
                    <li><a href="/about/activities/" tabindex="-1" class="menu-item">Activities</a></li>
                  </ul>
                </li>
                <li><a href="/staff-structure/">staff Structure</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Programs<b class="caret"></b></a>
                  <!-- Dropdown Menu -->
                  <!--<ul class="dropdown-menu">-->
                    <!--<li class="row">-->
                      <ul class="dropdown-menu">
                        <li class="dropdown-header">Research</li>
                        <li><a href="#">Career guidance</a></li>
                        <li><a href="#">Innovation Hub</a></li>
                        <li><a href="#">Industry exposure</a></li>
                        <li><a href="#">Business clinic</a></li>
                        <li><a href="#">•Private Sector Research</a></li>
                </li>

              </ul>
                </li>
              </ul>
            </div>
            <!--/.navbar-collapse -->
          </div>
        </div><div>&nbsp</div>
      </div>
 </div>

</nav>
<!--========================================-->
      <div class="wrapper">
      {% block content %}
      {% endblock %}
    </div>
<!--==========================================-->
        <!-- ======== @Region: #footer ======== -->
<!--footer-->
		<div id="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="footer-heading">
							<h3><span>about</span> us</h3>
                            <p>In October 2015 the Makerere University Private sector Forum unveiled plans to build
                                the Emmanuel Tumusiime-Mutebile Centre of Excellence (TMCE). The Mutebile Centre,
                                which will be allocated AT Makerere University, honors Dr. Mutebile,
                                Governor of the Bank of Uganda and a longstanding champion of private sector development in Uganda. </p>
						</div>
					</div>

					<div class="col-md-4">
						<div class="footer-heading">
							<h3><span>latest</span> news</h3>
							<ul>
								<li><a href="#">Trends don't matter, but techniques do</a></li>
								<li><a href="#">Trends don't matter, but techniques do</a></li>
								<li><a href="#">Trends don't matter, but techniques do</a></li>
								<li><a href="#">Trends don't matter, but techniques do</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-4">
						<div class="footer-heading">
							<h3><span>follow</span> us on Social Media</h3>

								<ul>
                            <li><a href=""><i class="fa fa-twitter" ></i>Follow us on Twitter</a> </li>
                           <li><a href=""><i class="fa fa-facebook" ></i>Follow us on Facebook</a> </li>
								</ul>

						</div>
					</div>

				</div>
			</div>
		</div>

		<!--bottom footer-->
		<div id="bottom-footer" class="hidden-xs">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="footer-left">
							&copy; The Mutebile Centre: All rights reserved
                            <div class="credits">
                                <!--
                                    All the links in the footer should remain intact.
                                    You can delete the links only if you purchased the pro version.
                                    Licensing information: https://bootstrapmade.com/license/
                                    Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=MyBiz
                                -->
                                Designed by <a href="">rayFlex grphics</a>
                            </div>
						</div>
					</div>

					<div class="col-md-8">
						<div class="footer-right">
                            <ul class="list-unstyled list-inline pull-right">
                               <li><a href="">Ceo Message</a></li> |
                                <li><a href="#service">Staff Structure</a></li> |
                                <li><a href="#portfolo">Programmes</a></li><br>
             &nbsp &nbsp &nbsp  <li><a href="#">Terms</a></li> |
              <li><a href="#">Privacy</a></li> |
              <li><a href="#">Contact Us</a></li>

                            </ul>
						</div>
					</div>
				</div>
			</div>
		</div>

     <!--Required JavaScript Libraries-->
    <script src="/static/lib/jquery/jquery.min.js"></script>
    <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/static/lib/stellar/stellar.min.js"></script>
    <script src="/static/lib/waypoints/waypoints.min.js"></script>
    <script src="/static/lib/counterup/counterup.min.js"></script>
    <script src="/static/contactform/contactform.js"></script>

    <!-- Template Specisifc Custom Javascript File -->
    <script src="/static/js/custom.js"></script>

    <!--Custom scripts demo background & colour switcher - OPTIONAL -->
    <script src="/static/js/color-switcher.js"></script>

    <!--Contactform script -->
    <script src="/static/contactform/contactform.js"></script>
 <!--=============================================================================================-->


</body>
</html>