<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mut</title>

</head>
<body>
     {% extends "layout.html" %}
    {% block content %}
<a href="/staff-structure/" data-box="about">About</a>
<a href="/staff-structure/" data-box="contact">Contact</a>

<div class="box about">
This project is about X, Y & Z
</div>

<div class="box contact">
Please contact me at@at.com
</div>
  {% endblock %}

    <script src="/static/lib/jquery/jquery.min.js"></script>
    <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/static/lib/stellar/stellar.min.js"></script>
    <script src="/static/lib/waypoints/waypoints.min.js"></script>
    <script src="/static/lib/counterup/counterup.min.js"></script>
    <script src="/static/contactform/contactform.js"></script>

    <!-- Template Specisifc Custom Javascript File -->
    <script src="/static/js/custom.js"></script>
    <script src="/static/js/click.js"></script>

    <!--Custom scripts demo background & colour switcher - OPTIONAL -->
    <script src="/static/js/color-switcher.js"></script>

    <!--Contactform script -->
    <script src="/static/contactform/contactform.js"></script>


</body>
</html>